{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "CyberaVFS" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("CyberaVFS") %}
{% endblock page_header %}

{% block main %}
<div class="row-fluid">
  <div class="span12">
    <div class="btn-group btn-group-lg" role="group">
      <button id="btn_launch_modal" type="button" class="btn" data-toggle="modal" data-target="#modal_launch" {{launch_enabled | yesno:",disabled"}}>Launch</button>
      <button id="btn_backup_modal" type="button" class="btn" data-toggle="modal" data-target="#modal_backup" {{backup_enabled | yesno:",disabled"}}>Backup</button>
      <button id="btn_recover_modal" type="button" class="btn" {{backup_enabled | yesno:",disabled"}}>Recover</button>
      <button id="btn_upgrade_modal" type="button" class="btn" data-toggle="modal" data-target="#modal_upgrade" {{upgradeable | yesno:",disabled"}}>Upgrade</button>
    </div>
  </div>
  <div id="firewall_status" class="span12">
    Status: {{ status }}
  </div>
  <div id="firewall_url" class="span12" {{backup_enabled | yesno:",hidden"}}>
    <a href="https://{{ addr }}">Management interface</a> (Must be using the VPN)
  </div>
</div>

{% include "fwaas/_launch_modal.html" with action="launch" %}
{% include "fwaas/_backup_modal.html" with action="backup" %}
{% include "fwaas/_recover_modal.html" with action="recover" %}
{% include "fwaas/_upgrade_modal.html" with action="upgrade" %}

<script>
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
function csrfSafeMethod(method) {
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
      xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
    }
  }
});
$("#btn_launch").click(function(){
  var password = $("#modal_launch #password").val()
  var confirm_password = $("#modal_launch #confirm_password").val()
  $.post("launch/", { password: password, confirm_password: confirm_password }, function(data, status){
    $("#btn_launch_modal").prop('disabled', true);
    $("#btn_backup_modal").prop('disabled', true);
    $("#btn_recover_modal").prop('disabled', true);
    $("#btn_upgrade_modal").prop('disabled', true);
    $("#firewall_url").prop('hidden', true);
  }).fail(function(jqXHR, textStatus, errorThrown){
    alert("Launch failed");
  });
});
$("#btn_backup").click(function(){
  var password = $("#modal_backup #password").val()
  $.post("backup/", { password: password }, function(data, status){
    alert("Backup created");
  }).fail(function(jqXHR, textStatus, errorThrown){
    alert("Backup failed");
  });
});
$("#btn_upgrade").click(function(){
  var deact_key = $("#modal_upgrade #deact_key").val()
  var password = $("#modal_upgrade #password").val()
  $.post("upgrade/", { deact_key: deact_key, password: password }, function(data, status){
    $("#btn_launch_modal").prop('disabled', true);
    $("#btn_backup_modal").prop('disabled', true);
    $("#btn_recover_modal").prop('disabled', true);
    $("#btn_upgrade_modal").prop('disabled', true);
    $("#firewall_url").prop('hidden', true);
  }).fail(function(jqXHR, textStatus, errorThrown){
    alert("Upgrade failed");
  });
});
$("#btn_recover_modal").click(function(){
  $.get("backups/", function(data, status){
    $("#modal_recover").remove();
    $("body div.col-xs-12").append(data);
    $(".btn_recover").click(function(){
      var backup_id = this.id.replace("btn_recover_", "")
      var deact_key = $("#modal_recover #deact_key").val()
      var password = $("#modal_recover #password").val()
      $.post("recover/", { backup_id: backup_id, deact_key: deact_key, password: password }, function(data, status){
        $("#btn_launch_modal").prop('disabled', true);
        $("#btn_backup_modal").prop('disabled', true);
        $("#btn_recover_modal").prop('disabled', true);
        $("#btn_upgrade_modal").prop('disabled', true);
        $("#firewall_url").prop('hidden', true);
      }).fail(function(jqXHR, textStatus, errorThrown){
        alert("Recovery failed");
      });
    });
    $("#modal_recover").modal("show");
  });
});
function updateStatus() {
  $.ajax({
    url: "status/",
    success: function(data) {
      var status = data["status"];
      var upgradeable = data["upgradeable"];
      var addr = data["address"];
      $("#firewall_status").text("Status: " + data["status"]);
      if (status == "Not running") {
        $("#btn_launch_modal").prop('disabled', false);
        $("#btn_backup_modal").prop('disabled', true);
        $("#btn_recover_modal").prop('disabled', true);
        $("#btn_upgrade_modal").prop('disabled', true);
        $("#firewall_url").prop('hidden', true);
      } else if (status == "Creating" || status == "Deleting" || status == "Unknown") {
        $("#btn_launch_modal").prop('disabled', true);
        $("#btn_backup_modal").prop('disabled', true);
        $("#btn_recover_modal").prop('disabled', true);
        $("#btn_upgrade_modal").prop('disabled', true);
        $("#firewall_url").prop('hidden', true);
      } else {
        $("#btn_launch_modal").prop('disabled', true);
        $("#btn_backup_modal").prop('disabled', false);
        $("#btn_recover_modal").prop('disabled', false);
        $("#btn_upgrade_modal").prop('disabled', !upgradeable);
        $("#firewall_url").prop('hidden', false);
        $("#firewall_url").innerHTML = "<a href='https://" + addr + ">Management interface</a> (Must be using the VPN)";
      }
    },
    complete: function() {
      setTimeout(updateStatus, 5000);
    }
  });
}
setTimeout(updateStatus, 5000);
</script>
{% endblock %}
