{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "CyberaVFS" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("CyberaVFS") %}
{% endblock page_header %}

{% block main %}
<div class="row-fluid">
  <div class="span12">
    <div class="btn-group btn-group-lg" role="group">
      <button id="btn_launch" type="button" class="btn">Launch</button>
      <button id="btn_backup" type="button" class="btn">Backup</button>
      <button id="btn_recover_modal" type="button" class="btn" data-toggle="modal" data-target="#modal_recover">Recover</button>
      <button id="btn_upgrade_modal" type="button" class="btn" data-toggle="modal" data-target="#modal_upgrade" {{upgradeable | yesno:",disabled"}}>Upgrade</button>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_recover" tabindex="-1" role="dialog" aria-labelledby="recovery_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="recovery_modal">Recover</h4>
      </div>
      <div class="modal-body">
        {% include "fwaas/_deact_key_field.html" %}
        <table class="table table-striped">
          <thead>
            <tr class="table_column_header">
              <th class="normal_column">Date</th>
              <th class="actions_column">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for b in backups %}
            <tr>
              <td class="normal_column">{{ b.date }}</td>
              <td class="actions_column">
                <button id="btn_recover_{{ b.id }}" type="button" class="btn btn-primary btn_recover" data-dismiss="modal">Recover</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_upgrade" tabindex="-1" role="dialog" aria-labelledby="upgrade_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="upgrade_modal">Upgrade</h4>
      </div>
      <div class="modal-body">
        {% include "fwaas/_deact_key_field.html" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="btn_upgrade" type="button" class="btn btn-primary" data-dismiss="modal">Upgrade</button>
      </div>
    </div>
  </div>
</div>

<script>
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
function csrfSafeMethod(method) {
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
      xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
    }
  }
});
$("#btn_launch").click(function(){
  $.post("launch/", function(data, status){
    alert("Data: " + data + "\nStatus: " + status);
  }).fail(function(jqXHR, textStatus, errorThrown){
    alert(textStatus + "\n" + errorThrown);
  });
});
$("#btn_backup").click(function(){
  $.post("backup/", function(data, status){
    alert("Data: " + data + "\nStatus: " + status);
  }).fail(function(jqXHR, textStatus, errorThrown){
    alert(textStatus + "\n" + errorThrown);
  });
});
$(".btn_recover").click(function(){
  var backup_id = this.id.replace("btn_recover_", "")
  var deact_key = $("#modal_recover #deact_key").val()
  $.post("recover/", { backup_id: backup_id, deact_key: deact_key }, function(data, status){
    alert("Data: " + data + "\nStatus: " + status);
  }).fail(function(jqXHR, textStatus, errorThrown){
    alert(textStatus + "\n" + errorThrown);
  });
});
$("#btn_upgrade").click(function(){
  var deact_key = $("#modal_upgrade #deact_key").val()
  $.post("upgrade/", { deact_key: deact_key }, function(data, status){
    alert("Data: " + data + "\nStatus: " + status);
  }).fail(function(jqXHR, textStatus, errorThrown){
    alert(textStatus + "\n" + errorThrown);
  });
});
</script>
{% endblock %}
