{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "CyberaVFS" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("CyberaVFS") %}
{% endblock page_header %}

{% block main %}
<div class="row-fluid">
  <div class="span12">
    <div class="btn-group btn-group-lg" role="group">
      <button id="btn_launch_modal" type="button" class="btn" data-toggle="modal" data-target="#modal_launch" {{launch_enabled | yesno:",disabled"}}>Launch</button>
      <button id="btn_backup_modal" type="button" class="btn" data-toggle="modal" data-target="#modal_backup" {{backup_enabled | yesno:",disabled"}}>Backup</button>
      <button id="btn_recover_modal" type="button" class="btn" data-toggle="modal" data-target="#modal_recover" {{backup_enabled | yesno:",disabled"}}>Recover</button>
      <button id="btn_upgrade_modal" type="button" class="btn" data-toggle="modal" data-target="#modal_upgrade" {{upgradeable | yesno:",disabled"}}>Upgrade</button>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    Status: {{ status }}
  </div>
  {% if backup_enabled %}
  <div class="span12">
    <a href="https://{{ addr }}">Management interface</a> (Must be using the VPN)
  </div>
  {% endif %}
</div>

{% include "fwaas/_launch_modal.html" with action="launch" %}
{% include "fwaas/_backup_modal.html" with action="backup" %}
{% include "fwaas/_recover_modal.html" with action="recover" %}
{% include "fwaas/_upgrade_modal.html" with action="upgrade" %}

<script>
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
function csrfSafeMethod(method) {
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
      xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
    }
  }
});
$("#btn_launch").click(function(){
  var password = $("#modal_launch #password").val()
  $.post("launch/", { password: password }, function(data, status){
    alert("Data: " + JSON.stringify(data) + "\nStatus: " + status);
  }).fail(function(jqXHR, textStatus, errorThrown){
    alert(textStatus + "\n" + errorThrown);
  });
});
$("#btn_backup").click(function(){
  var password = $("#modal_backup #password").val()
  $.post("backup/", { password: password }, function(data, status){
    alert("Data: " + JSON.stringify(data) + "\nStatus: " + status);
  }).fail(function(jqXHR, textStatus, errorThrown){
    alert(textStatus + "\n" + errorThrown);
  });
});
$(".btn_recover").click(function(){
  var backup_id = this.id.replace("btn_recover_", "")
  var deact_key = $("#modal_recover #deact_key").val()
  var password = $("#modal_recover #password").val()
  $.post("recover/", { backup_id: backup_id, deact_key: deact_key, password: password }, function(data, status){
    alert("Data: " + data + "\nStatus: " + status);
  }).fail(function(jqXHR, textStatus, errorThrown){
    alert(textStatus + "\n" + errorThrown);
  });
});
$("#btn_upgrade").click(function(){
  var deact_key = $("#modal_upgrade #deact_key").val()
  var password = $("#modal_upgrade #password").val()
  $.post("upgrade/", { deact_key: deact_key, password: password }, function(data, status){
    alert("Data: " + data + "\nStatus: " + status);
  }).fail(function(jqXHR, textStatus, errorThrown){
    alert(textStatus + "\n" + errorThrown);
  });
});
</script>
{% endblock %}
